{% extends "base.html" %} {% load static %}
<!--disable-eslint-->
{% load crispy_forms_tags %}
<!--disable-eslint-->
{% block title %}Criar perfil | {% endblock title %} {% block content %}

<div class="row">
  {% if not request.user.is_authenticated %}
  <div class="col-lg mt-3">
    <h4>Login</h4>
    <p>Se já possui uma conta, faça login abaixo:</p>

    <form method="POST" action="{% url 'account:login' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="InputUser1">Usuário</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="InputUser1"
          aria-describedby="userHelp"
          placeholder="Type your user"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input
          type="password"
          name="password"
          class="form-control"
          id="InputPassword1"
          placeholder="Type your password"
        />
      </div>
      <button type="submit" class="btn btn-primary bg-dark btn-block btn-lg">
        Login
      </button>
    </form>
  </div>
  {% endif %}

  <div class="col-lg mt-3">
    {% block title_register %}
    <h4>Registrar</h4>
    <p>Se ainda não tem uma conta, registre-se abaixo:</p>
    {% endblock title_register %}
    <form method="POST" action="">
      {% csrf_token %}
      <!--disable-eslint-->
      {{userform.as_p}}
      <!--disable-eslint-->
      {{ accountform.as_p }}
      <!--disable-eslint-->
      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary bg-dark btn-block btn-lg"
          >
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
